/* Fix user-agent */

* {
    box-sizing: border-box;
}

html {
    font-weight: 300;
    -webkit-font-smoothing: antialiased;
}

html, input {
    font-family:
    "HelveticaNeue-Light",
    "Helvetica Neue Light",
    "Helvetica Neue",
    Helvetica,
    Arial,
    "Lucida Grande",
    sans-serif;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: black;
    color: #ddd;
    font-size: 16px;
}

ul {
    list-style: none;
    word-wrap: break-word;
}

/* Pages */

.pages {
    height: 100%;
    margin: 0;
    padding: 0;
    width: 100%;
}

.page {
    height: 100%;
    position: absolute;
    width: 100%;
}

/* Login Page */

.login.page {
    background-color: #000;
    display: none;
}

.login.page .form {
    height: 100px;
    margin-top: -100px;
    position: absolute;

    text-align: center;
    top: 50%;
    width: 100%;
}

.login.page .form .usernameInput {
    background-color: transparent;
    border: none;
    border-bottom: 2px solid #ddd;
    outline: none;
    padding-bottom: 15px;
    text-align: center;
    width: 400px;
}

.login.page .title {
    font-size: 200%;
}

.login.page .usernameInput {
    font-size: 200%;
    letter-spacing: 3px;
}

.login.page .title, .login.page .usernameInput {
    color: #ddd;
    font-weight: 100;
}

/* characterChoice Page */

.characterChoice.page {
    background-color: #000;
    display: none;
}

.characterChoice.page .form {
    height: 100px;
    margin-top: -100px;
    position: absolute;

    text-align: center;
    top: 50%;
    width: 100%;
}

.characterChoice.page .form .usernameInput {
    background-color: transparent;
    border: none;
    border-bottom: 2px solid #ddd;
    outline: none;
    padding-bottom: 15px;
    text-align: center;
    width: 400px;
}

.characterChoice.page .title {
    font-size: 200%;
}

.characterChoice.page .usernameInput {
    font-size: 200%;
    letter-spacing: 3px;
}

.characterChoice.page .title, .login.page .usernameInput {
    color: #ddd;
    font-weight: 100;
}

/* Font */

.messages {
    font-size: 150%;
    color: #ddd;
}

.inputMessage {
    font-size: 100%;
}

.log {
    color: gray;
    font-size: 70%;
    margin: 5px;
    text-align: center;
}

/* Chat Page */

.nav li{
    display: inline-block;
}
.top{
    border-bottom: 2px solid #ddd;
}
.top.nav{
    line-height: 1.5em;
    font-size: 18px;
    font-weight: bold;
}

.column{
    margin: 0px;
    padding: .2em;
}
.right.column{
    width: 13em;
    position: absolute;
    top: 0;
    right: -13em;
    height: calc(100% - 2em);
}

.chat.page {
    display: none;
}

.chatArea {
    height: calc(100% - 2em);
    padding-bottom: 4em;
    width: calc(100% - 13em);
    position: relative;
}

.messages {
    height: 100%;
    margin: 0;
    overflow-y: scroll;
    padding: 10px 20px 10px 20px;
}

.message.typing .messageBody {
    color: gray;
}

.username {
    float: left;
    font-weight: 700;
    overflow: hidden;
    padding-right: 15px;
    text-align: right;
}

/* Input */

.inputMessage {
    border-top: 2px solid #ddd;
    background-color: black;
    color: #ddd;
    bottom: 0;
    height: 2em;
    left: 0;
    outline: none;
    padding-left: 10px;
    position: absolute;
    right: 0;
    width: 100%;
}

/*==================== Right Hand Column ======================*/

.chat.page .chatArea .right.column #accordion .characterList{
    margin: 0px;
    padding: 0px;
}
.chat.page .chatArea .right.column #accordion .characterList ul{
    margin: 0px;
    padding: 0px;
}
.chat.page .chatArea .right.column #accordion .characterList ul li{
    margin: 0px;
    padding: 0px;
}
